# main reqs
beautifulsoup4==4.14.3
certifi>=2026.4.22
click==8.3.3
django>=6.0.5,<7
html5lib==1.1
feedparser==6.0.12
lxml==6.1.0
pyaml-env==1.2.2
PyYAML==6.0.3
requests>=2.33.1
ruamel.yaml==0.19.1
sentry-sdk>=2.60.0
slack_sdk>=3.42.0
sqlparse>=0.5.5
urllib3>=2.7.0  # Security bump

# test reqs
pytest>=8.4.2
pytest-cov>=7.0.0
