# main reqs
beautifulsoup4==4.15.0
certifi>=2026.5.20
click==8.4.1
django>=6.0.5,<7
html5lib==1.1
feedparser==6.0.12
lxml==6.1.1
pyaml-env==1.2.2
PyYAML==6.0.3
requests>=2.34.2
ruamel.yaml==0.19.1
sentry-sdk>=2.64.0
slack_sdk>=3.42.0
sqlparse>=0.5.5
urllib3>=2.7.0  # Security bump

# test reqs
pytest>=8.4.2
pytest-cov>=7.0.0
