# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

name: "RSS/Atom feed checking"
on:
  workflow_dispatch:
  schedule:
    - cron: "03 2,14 * * *" # 02:03 UTC and 14:03 every day

env:
  MOZORG_CDN_HOSTNAME: ${{ secrets.MOZORG_CDN_HOSTNAME }}
  MOZORG_US_ORIGIN_HOSTNAME: ${{ secrets.MOZORG_US_ORIGIN_HOSTNAME }}
  MOZORG_EU_ORIGIN_HOSTNAME: ${{ secrets.MOZORG_EU_ORIGIN_HOSTNAME }}
  SLACK_NOTIFICATION_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFICATION_WEBHOOK_URL }}

jobs:
  run_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Check main CDN feeds
        id: cdn
        if: always()
        run: >
          python bin/validate_feeds.py
          --hostname="${{ env.MOZORG_CDN_HOSTNAME }}"
      - name: "Check US origin feeds"
        id: us_origin
        if: always()
        run: >
          python bin/validate_feeds.py
          --hostname="${{ env.MOZORG_US_ORIGIN_HOSTNAME }}"
      - name: "Check EU origin feeds"
        id: eu_origin
        if: always()
        run: >
          python bin/validate_feeds.py
          --hostname="${{ env.MOZORG_EU_ORIGIN_HOSTNAME }}"
      - name: Report on failures
        if: steps.cdn.outcome == 'failure' || steps.us_origin.outcome == 'failure' || steps.eu_origin.outcome == 'failure'
        run: exit 1
